ul{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
}

ul li a{
  height: 30rem;
  width: 20rem;
  border: 1px solid black;
  border-radius: 1rem;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  color: #e72929;

}

ul li a:hover{
  opacity: 0.9;
  cursor: pointer;
}

.ingredients{
  color: black;
  padding-top: 10px;
}

.content{
  padding: 0.5rem 1rem;
  position: relative;
}

.price {
  font-size: 20px;
  padding-top: 15px
}

.name{
  font-size:30px;
}



