<ul ngbNav #nav="ngbNav" [activeId]="2" class="nav-tabs justify-content-center">
  <li class="nav-item">
    <div id="home" class="m-3">
    <a [routerLink]="['/']">STAMM STREET</a>
    </div>
  </li>
  <li ngbDropdown class="nav-item m-4">
    <a href (click)="false" class="nav-link" ngbDropdownToggle>Menu</a>
    <div ngbDropdownMenu class="tendina">
      <a [routerLink]="['/panini']"><button ngbDropdownItem>Panini</button></a>
      <a [routerLink]="['/birra']"><button ngbDropdownItem>Birre </button></a>
      <button ngbDropdownItem>Carni </button>
      <button ngbDropdownItem>Fritti</button>
    </div>
  </li>


  <li ngbDropdown class="ms-auto nav-item m-3" >
    <a href (click)="false" class="nav-link" ngbDropdownToggle></a>
    <div ngbDropdownMenu class="tendina">
      <a [routerLink]="['/login']"><button ngbDropdownItem>login</button></a>
      <a [routerLink]="['/register']"><button ngbDropdownItem>register</button></a>
      <a > <button ngbDropdownItem (click)="logout()">logout</button></a>
    </div>
  </li>

</ul>













